<div class="container">
    <h1 class="text-center mb-3">To-do List Web App</h1>
    
    <app-add-todo (todoAdd)="addToDo($event)"></app-add-todo>
    <h4>Your Todos</h4>
    <div *ngIf="this.todos.length===0; else elseBlock">No Todos to Display</div>
    <ng-template #elseBlock>
        <div *ngFor="let todo of todos">
            <app-todo-item [todo]="todo" (todoDelete)="deleteToDo($event)"  (todoCheckbox)="toggleToDo($event)"></app-todo-item>
            
        </div >
        
    </ng-template>
</div>