<div class="container">
    <div class="jumbotron">

        <h1 class="display-4 m-5 text-center">About</h1>
        <p class="justified m-3 lead">It's my first project on Angular which functions as a to-do list. Bootstrap is used for styling and time-saving. In this app an user can add title, description to the list and strike it out when the task is done by checking on the Done checkbox. It can be improvised with multiple functionality like bullets and numbering inside descriptions as well as date and time functionality.</p>
    </div>
</div>