<div class="my-3">

    <h4>Add an item</h4>
    <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" name="title" class="form-control" id="title" [(ngModel)]="title">
     
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Description</label>
      <input type="text" name="desc" class="form-control" id="desc" [(ngModel)]="desc">
    </div>
    
    <button type="submit" class="btn btn-primary">Add</button>
</form>
</div>